body {
    position: relative;
    font-family:'Roboto', sans-serif, Helvetica, Arial, Sans-serif;
    background: #bdc3c7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: #212121;
}
/* cover */

.vcenter {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.covertyped {
    word-wrap: break-word;
    font-size: 4em;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
    width: 100%;
    text-shadow: 0px 0px 4px #727272;

}

#typed {
        word-wrap: break-word;
        width:100%;
        margin:0; 
        padding: 0;
        }

.cover {
    text-align:center;
    background:#2196F3;
    margin:0; 
    padding: 0;
    width: 100%;
    position:relative;
    min-height: 600px;
    min-width: 400px;
}


/* Nav bar */
.nav {
    position:absolute;
    bottom:0;
    width: 100%;
    text-align:center;
    margin:0;
    padding:0;
}
.nav ul {
  list-style: none;
  background-color: #2196F3;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 4px 4px -2px #727272;
   -moz-box-shadow: 0 4px 4px -2px #727272;
    box-shadow: 0 4px 4px -2px #727272;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 50px;
}
 
.nav a {
  text-decoration: none;
  text-shadow: 0px 0px 5px #727272;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #F5F5F5;
  color: #212121;
  text-shadow: 0px 0px 5px #9E9E9E;
}
 

 
@media screen and (min-width: 300px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin: auto;
  }

.navbar-fixed {   
    position: fixed;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    border-top: 0;    
}

#nav_bar {
    border: 0;
    background-color: #2196F3;
    border-radius: 0px;
    margin-bottom: 0;
    height: 50px;
}


/* landing */
.landing {

    background: #2ecc71;
    text-align: center;
    font-size: 1.7em;
    padding: 30px 0 20px;
    -webkit-box-shadow: 0 4px 4px -2px #727272;
    -moz-box-shadow: 0 4px 4px -2px #727272;
    box-shadow: 0 4px 4px -2px #727272;
}

.myname {
    color: #F5F5F5;
}

#mypic {
        border: 2px solid #F5F5F5;
}

.highlight:hover {
        color: #DC143C;
}


.twtpx {
    font-size: 24px;
}



.inthidden {
    visibility: hidden;
}

.landgraph {
    background: url(imgs/skillgraph.png) no-repeat;
    background-size: contain;
    margin: 30px 5px 5px 50px;
    display:inline-block;
    float: right;
    min-height: 400px;
    min-width:550px;
    width:60%;

    visibility: hidden;

}


/* Cards */
.tright {
    text-align: right;
    margin-right: 10px;
}

.tleft {
    text-align: left;
    margin-left: 10px;
}

.centerify {
    text-align:center; 
    visibility: hidden;
    width: 100%;
}


#gitbanner {
   background-image: url('imgs/gitbanner.jpg');
   height: 144px;
   width: 304px;
}

#gitbanner:hover {
   background-image: url('imgs/gitbannerh.jpg');
}

.cardscontainer {
    margin:35px 15px 10px;
    width:306px;
    height:100%;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
}

.cardtype {
    font-style: italic;
}



.longcard {height: 400px;}
.norcard {height: 306px;}
.shortcard {height: 200px;}
.tinycard {height: 130px;}

.cards {
    margin:0 0 14px;
    width:306px;
    background-color:#F5F5F5;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
    border: 0;
    padding: 0;
    -moz-box-shadow: 0px 0px 4px #B8B8B8;
    -webkit-box-shadow: 0px 0px 4px #B8B8B8;
    box-shadow: 0px 0px 4px #B8B8B8;
}

.maximg {
    margin: 0;
    padding: 0;
    width: 100%;
}

.txttitle { 
    color:dimgrey; 
    line-height: 48px; 
    font-size: 24px; 
    font-weight: 300;
}

img.tinydp {
    display:block;
    width:100px;
    height:100px;
    margin:0 0 15px 15px;
    float: right;
}
.textincard {
    word-wrap: break-word;
    margin: 0 5px 0 5px;
}

img.banner {
    display:block;
    width:100%;
    height:75%;
    margin:0 auto;
}
#cardClone {
    position:fixed;
    display:none;
    margin:30px;
    -webkit-transition:.6s;
    transition:.6s;
    -webkit-transform-style::preserve-3d;
    transform-style:preserve-3d;
    z-index:99;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
#backparts {
        visibility: hidden;
}
#cloneFront, #cloneBack {
    backface-visibility: hidden;
    width:100%;
    height:100%;
    position:absolute;
    -webkit-transition:.6s;
    transition:.6s;
    overflow: auto;
}


#cloneFront {
    z-index:100;
    background-color:white;
    transform: translatez(0);
}
#cloneBack {
    transform:rotateY(-180deg);
    z-index: 101;
    background-color: white;
}
#closeClone {
    color:white;
    background-color:black;
    border:1px solid grey;
    border-radius:2px;
    cursor:pointer;
    float:right;
}

.hidden {
    max-height: 0; 
    overflow: hidden;
}



/*Libraries from the internet

/* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }


/*
==============================================
slideUp
==============================================
*/


.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    

    animation-duration: .8s; 
    -webkit-animation-duration: .8s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;


    visibility: visible !important;         
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }

}

/*
==============================================
pullUp
==============================================
*/

.pullUp{
    animation-name: pullUp;
    -webkit-animation-name: pullUp; 

    animation-duration: 1.7s;   
    -webkit-animation-duration: 1.7s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;     

    visibility: visible !important;         
}
}

@keyframes pullUp {
    0% {
        transform: scaleY(0.1);
    }
    40% {
        transform: scaleY(1.02);
    }
    60% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(0.98);
    }               
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(1);
    }                           
}

@-webkit-keyframes pullUp {
    0% {
        -webkit-transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.02);
    }
    60% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0.98);
    }               
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(1);
    }       
}


/*
==============================================
floating
==============================================
*/

.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}


/*
==============================================
pulse
==============================================
*/

.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;       
    }
    50% {
        transform: scale(1);
        opacity: 1; 
    }   
    100% {
        transform: scale(0.9);
        opacity: 0.7;   
    }           
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;   
    }           
}


.highlighted {
    cursor:pointer;
    margin: 4px 0 2px;
    color: #FFFFFF;
    padding: 6px;
    min-width: 200px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    background: #01579B;
}

/* Radial Out */
.highlight {


  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.highlight:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.highlight:hover, .highlight:focus, .highlight:active {
  color: white;
}
.highlight:hover:before, .highlight:focus:before, .highlight:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}